@tailwind base;
@tailwind components;
@tailwind utilities;

/* #region */
/* #endregion */

/* #region Fonts Import */
@font-face{
    font-family: 'Anta';
    src: url('/fonts/Anta-Regular.woff2') format('woff2');
    font-display: swap;
}
@font-face{
    font-family: 'Blinker';
    src: url('/fonts/Blinker-ExtraLight.woff2') format('woff2');
    font-display: swap;
}
@font-face{
    font-family: 'Bruno Ace SC';
    src: url('/fonts/BrunoAceSC-Regular.woff2') format('woff2');
    font-display: swap;
}
@font-face{
    font-family: 'Jura';
    src: url('/fonts/Jura-VariableFont_wght.woff2') format('woff2');
    font-display: swap;
}
@font-face{
    font-family: 'Michroma';
    src: url('/fonts/Michroma-Regular.woff2') format('woff2');
    font-display: swap;
}
@font-face{
    font-family: 'ZenDots';
    src: url('/fonts/ZenDots-Regular.woff2') format('woff2');
    font-display: swap;
}
@font-face{
    font-family: 'Fredoka';
    src: url('/fonts/Fredoka-Regular.woff2') format('woff2');
    font-display: swap;
}
/* #endregion */

@layer base{
    :root{
    --base-color: 247 247 217;
    color: rgb(226, 18, 18); /* for debugging */
    line-height: 1;
    }

    body{
        color: rgb(var(--base-color));
        background: black
    }

    /* #region Remove Scrollbar */
    /* Chrome, Safari, Edge */
    *::-webkit-scrollbar {
        display: none;
    }

    /* Firefox */
    * {
        scrollbar-width: none;
    }

    /* IE / old Edge */
    * {
        -ms-overflow-style: none;
    }
    /* #endregion */
}

@layer components{
    /* #region Content Width per Breakpoint */
    .content-width {
        @apply mx-auto;

        /* Base (mobile first) */
        max-width: 360px;
    }

    /* sm (≥ 640px) */
    @media (min-width: 640px) {
        .content-width { max-width: 576px; }
    }

    /* md (≥ 768px) */
    @media (min-width: 768px) {
        .content-width { max-width: 730px; }
    }

    /* lg and above (≥ 1024px) */
    @media (min-width: 1024px) {
        .content-width { max-width: 930px; }
    }
    /* #endregion */

    /* #region Grid Background */
      .grid-background {
        position: relative;
        width: 100%;
        overflow: hidden;
        background:
            linear-gradient(rgba(140,192,143,0.052) 1px, transparent 1px),
            linear-gradient(90deg, rgba(140,192,143,0.052) 1px, transparent 1px),
            linear-gradient(180deg,
            rgba(247,247,217,0.03) 0%,
            rgba(247,247,217,0) 22%,
            rgba(247,247,217,0) 78%,
            rgba(247,247,217,0.02) 100%),
            linear-gradient(180deg,
            rgba(5,6,9,1) 0%,
            rgba(7,8,12,1) 24%,
            rgba(4,5,8,1) 52%,
            rgba(7,8,12,1) 78%,
            rgba(5,6,9,1) 100%);
        background-size: 56px 56px, 56px 56px, 100% 100%, 100% 100%;
        background-position: center;
    }

    .gb--top-border {
        border-top: 1px solid rgba(255,255,255,0.18);
    }

    .gb--bottom-border {
        border-bottom: 1px solid rgba(255,255,255,0.18);
    }
    /* #endregion */
    
}

@layer utilities{
    .col-xy-center {
        @apply flex flex-col justify-center items-center;
    }
    .f-xy-center {
        @apply flex justify-center items-center;
    }
    .f-y-center {
        @apply flex items-center;
    }
    .f-x-center {
        @apply flex justify-center;
    }
    .f-col {
        @apply flex flex-col;
    }
    .f-col-sb {
        @apply flex flex-col justify-between;
    }
    .f-row {
        @apply flex flex-row;
    }
    .f-row-sb {
        @apply flex flex-row justify-between;
    }
    .wh-full{
        @apply w-full h-full;
    }

    /* #region Base Color Utilities */
    .base-text {
        color: rgb(var(--base-color));
    }

    .base-border {
        border-color: rgb(var(--base-color) / 0.5); /* 50% opacity */
        border-width: 0.2px;
    }

    .base-border-color {
        border-color: rgb(var(--base-color)); 
    }

    .base-bg {
        background-color: rgb(var(--base-color));
    }
    /* #endregion */
}