@tailwind base;
@tailwind components;
@tailwind utilities;

/* #region */
/* #endregion */

/* #region Fonts Import */
@font-face{
    font-family: 'Anta';
    src: url('/fonts/Anta-Regular.woff2') format('woff2');
    font-display: swap;
}
@font-face{
    font-family: 'Blinker';
    src: url('/fonts/Blinker-ExtraLight.woff2') format('woff2');
    font-display: swap;
}
@font-face{
    font-family: 'Bruno Ace SC';
    src: url('/fonts/BrunoAceSC-Regular.woff2') format('woff2');
    font-display: swap;
}
@font-face{
    font-family: 'Jura';
    src: url('/fonts/Jura-VariableFont_wght.woff2') format('woff2');
    font-display: swap;
}
@font-face{
    font-family: 'Michroma';
    src: url('/fonts/Michroma-Regular.woff2') format('woff2');
    font-display: swap;
}
@font-face{
    font-family: 'ZenDots';
    src: url('/fonts/ZenDots-Regular.woff2') format('woff2');
    font-display: swap;
}
/* #endregion */

@layer base{
    :root{
    --base-color: 247 247 217;
    line-height: 1;
    }

    body{
        color: rgb(var(--base-color));
        background: black
    }

    /* #region Remove Scrollbar */
    /* Chrome, Safari, Edge */
    *::-webkit-scrollbar {
        display: none;
    }

    /* Firefox */
    * {
        scrollbar-width: none;
    }

    /* IE / old Edge */
    * {
        -ms-overflow-style: none;
    }
    /* #endregion */
}

@layer components{
    /* #region Content Width per Breakpoint */
    .content-width {
        @apply mx-auto;

        /* Base (mobile first) */
        max-width: 360px;
    }

    /* sm (≥ 640px) */
    @media (min-width: 640px) {
        .content-width { max-width: 576px; }
    }

    /* md (≥ 768px) */
    @media (min-width: 768px) {
        .content-width { max-width: 730px; }
    }

    /* lg and above (≥ 1024px) */
    @media (min-width: 1024px) {
        .content-width { max-width: 930px; }
    }
    /* #endregion */
    
}

@layer utilities{
    .col-xy-center {
        @apply flex flex-col justify-center items-center;
    }

    .f-col {
        @apply flex flex-col;
    }

    .f-row {
        @apply flex flex-row;
    }

    .f-row-sb {
        @apply flex flex-row justify-between;
    }
    /* #region Base Color Utilities */
    .base-text {
        color: rgb(var(--base-color));
    }

    .base-border {
        border-color: rgb(var(--base-color) / 0.5); /* 50% opacity */
        border-width: 0.2px;
    }

    .base-bg {
        background-color: rgb(var(--base-color));
    }
    /* #endregion */
}