/* #region Flicker Text Animations */
@keyframes navbar-flicker-strong {
  0% { opacity: 1; }
  10% { opacity: 0; }
  18% { opacity: 0.4; }
  26% { opacity: 0; }
  35% { opacity: 0.7; }
  50% { opacity: 0.3; }
  65% { opacity: 1; }
  78% { opacity: 0.5; }
  100% { opacity: 1; }
}

@keyframes navbar-flicker-medium {
  0% { opacity: 1; }
  20% { opacity: 0.3; }
  40% { opacity: 1; }
  60% { opacity: 0.5; }
  80% { opacity: 1; }
  100% { opacity: 1; }
}

@keyframes navbar-flicker-light {
  0% { opacity: 1; }
  50% { opacity: 0.7; }
  100% { opacity: 1; }
}
/* #endregion */
